.post {
    border-radius: 15px;
    border: 2px solid rgb(35, 119, 139);
    margin: 20px;
    display: flex;
    align-items: center;
}

.post_left_side {
    display: flex;
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
}

.post_image {
    margin: 8px;
}

.post_content>p {
    margin: 0;
}

.post_right_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-basis: 100%;
    padding: 15px 15px 15px 0px;
}